<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="android.com.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoko"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".Donghua.CheatActivity">
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".GuideActivity"/>
        <activity android:name=".Donghua.PintuActivity">
        </activity>
        <activity android:name=".Donghua.seriousActivity">
        </activity>
        <activity android:name=".Donghua.YaoActivity">
        </activity>
        <activity android:name=".Donghua.Donghua">
        </activity>
        <activity android:name=".DengluActivity">
        </activity>
    </application>

</manifest>